/bin/
/build/
.gradle

/nbproject/private/
junit.schema2doctest.*
nbproject/
schemadocumentation.*.adoc
build.xml
manifest.mf
lib/ojdbc7.jar
src/docs/examples/*.png
src/docs/examples/*.png.cache
src/docs/examples/images/
